h1 {
  color: rgb(128, 0, 79);
  padding: 20px 10px;
}

.search-icon {
  width: 10px;
  padding-left: 50px;
}

button:hover {
  background-color: blueviolet;
  color: white;
}

.cloud-icon {
  size: 10px;
  color: blueviolet;
  padding-left: 50px;
  margin-right: 50px;
}

li {
  list-style: none;
  padding: 100px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

body {
  background-color: bisque;
}
