h1 {
  color: rgb(128, 0, 79);
  padding: 20px 10px;
}

button:hover {
  background-color: blueviolet;
  color: white;
}

li {
  list-style: none;
  padding: 100px;
  display: flex;
  justify-content: space-around;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

body {
  background-color: bisque;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
}
